.popup__button-save {
  margin: 31.34px 36px 36.51px;
  padding: 13.66px 0 18.49px;
  background: #000;
  border-radius: 2px;
  border: 1px solid #000;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  transition: background-color .4s ease-in-out;
}

.popup__button-save:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 882px) {
  .popup__button-save {
    margin: 45px 22px 25px;
    font-size: 18px;
    line-height: 1.22;
  }
}