.post__button-like {
  margin: 0 1.24px 0 0;
  padding: 0;
  background-image: url(../../../images/post/__button-like/post__button-like.svg);
  background-color: #fff;
  border: none;
  width: 20.76px;
  height: 18.13px;
}

.post__button-like:hover {
  cursor: pointer;
}