.who__button-eddit {
  padding: 0;
  margin: 19px 0 0 17px;
  background-image: url(../../../images/who/__button-eddit/who__button-eddit.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.who__button-eddit:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  background-image: url(../../../images/who/__button-eddit/who__button-eddit_grey.svg);
  cursor: pointer;
}

@media screen and (max-width: 882px) {
  .who__button-eddit {
    width: 18px;
    height: 18px;
    background-size: 5.25px 5.25px;
    margin: 19px 0 0 10px;
  }
}