.page__box {
  max-width: 882px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 882px) {
  .page__box {
    max-width: 582px;
  }
}

@media screen and (max-width: 582px) {
  .page__box {
    max-width: 320;
  }
}