.who__figure {
  width: 127.5px;
  height: 127.5px;
  border-radius: 50%;
}

.who__figure:after {
  border-radius: 50%;
  content: '\A';
  position: absolute;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 1s;
}

.who__figure:hover:after {
  opacity: 2;
}