.popup__input {
  margin: 13px 36px 0 36px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  padding-bottom: 13.26px;
}

.popup__input:first-of-type {
  margin: 54px 36px 0 36px;
}

@media screen and (max-width: 882px) {
  .popup__input {
    margin: 30px 22px 0;
    font-size: 18px;
    line-height: 1.22;
  }

  .popup__input:first-of-type {
    margin: 36px 22px 0;
  }
}