.posts__box {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(auto-fit, 361px);
  align-items: end;
  gap: 18px;
}

@media screen and (max-width: 582px) {
  .posts__box {
    gap: 20px;
    justify-content: center;
  }
}